@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .button {
    border-width: 2px;
    border-color: #fb923c;
    border-radius: 0.5rem;
    font-weight: bold;
    color: #fb923c;
    background-color: white;
    padding: 0.5rem;
    margin-left: 0.5rem;
  }
}
